body{
    background-color: rgb(205, 227, 249, 1);
    width: 1275px;
    height: 1775px;
    margin: auto;
}
*{
    margin: 0; padding: 0; box-sizing: border-box; font-size: 1;
}
img {
    width: 100%;
    height: calc(100% - 0px);/*<-- Yo puse 60px porque más o menos es lo que mide la altura del título, pero tú coloca un número de pixeles que se ajuste*/
    object-fit: contain;
}
#sc1 img, #imagen_1 img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
#header_1 {
    /*background-color: rgb(155, 219, 36);*/
    width: 1275px;
    height: 150px;
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
}
#c1 {
    /*border: 3px solid rgb(255, 255, 255);
    background-color: black;*/
    width: 150px;
    height: 100%;
    margin-right: 25px;
}   
#c2 {
    /*background-color: rgb(0, 0, 0);*/
    width: 652px;
    height: 100%;
    margin-right: 25px;
    /*border: 3px solid rgb(255, 255, 255);*/
}
#c3 {
    /*background-color: rgb(0, 0, 0);*/
    width: 423px;
    height: 100%;
    border-right: 25px;
    /*border: 3px solid rgb(255, 255, 255);*/
}
#mini_top_header {
    width: 417px;
    height: 30px;
    /*background-color: rgb(0, 0, 0);*/
    margin-top: 13px;
}
#mini_top_header div {
    background-color: rgb(255, 86, 0, 1);
    width: 50px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
}
#mini_top_header li {
    display: inline-block;
}
#mini_top_header ul {
    width: 400px;
    height: 30px;
}
#mini_sub_header {
    width: 417px;
    height: 30px;
    /*background-color: rgb(0, 0, 0);*/
    margin-top: 59px;
}
#mini_sub_header div {
    background-color: rgb(255, 86, 0, 1);
    width: 100px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    /*margin-right: 10px;*/
    justify-content: center;    
    align-items: center;
}   
#mini_sub_header li {
    display: flex;
    margin-left: 25px;
}

#mini_sub_header ul {
    width: 400px;
    height: 30px;
    display: flex;
}
nav {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
nav li {
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    height: 100%;

}
nav ul {
    height: 100%;
    width: 100%;
}
#sec1 {
    float: left;
    height: 50px;
}
#nav {
    background-color: rgb(255, 86, 0, 1);
    width: 140px;
    height: 100%;
}
#sec2{
    float: right;   
    width: 355px;
    height: 50px;
}
/*
button {
    float: right;
    width: 50px;
    height: 50px;
}

input {
    
    width: 299px;
    height: 50px;
}
*/
#sec2 form {
    width: 355px;
    height: 50px;
}
#sc1 {
    background-color: black;
    width: 1275px;
    height: 400px;
    margin-bottom: 25px;
    border: 2px solid rgb(255, 255, 255);
}
#sc2 {
    background-color: rgb(255, 86, 0, 1);
    width: 900px;
    height: 1000px;
    margin-bottom: 25px;
    float: left;
    border: 3px solid rgb(255, 255, 255);
}
#sc3 {
    background-color: rgb(255, 86, 0, 1);
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    float: right;
    border: 3px solid rgb(255, 255, 255);
}

#sc4 {
    background-color: rgb(255, 86, 0, 1);
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    float: right;
    border: 3px solid rgb(255, 255, 255);
}

footer {
    width: 100%;
    height: 50px;
    /* background-color: black; */
    display: flex;
    /* border: 3px solid rgb(255, 255, 255); */
}
footer li {
    display: inline-block;
}
footer ul {
    height: 44px;
    width: 100%;
}
#foot    {
    background-color: rgb(255, 86, 0, 1);
    width: 150px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
}
#titulo_1 {
    width: 850px;
    height: 50px;
    /*background-color: rgb(65, 65, 65);*/
    margin-top: 25px;
    /*border: 2px solid rgb(255, 255, 255);*/
}
#imagen_1 {
    width: 250px;
    height: 300px;
    background-color: rgb(65, 65, 65);
    margin-top: 25px;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    border: 2px solid rgb(255, 255, 255);
}
#texto_1 {
    width: 575px;
    height: 300px;
    /*background-color: rgb(65, 65, 65);*/
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    /*border: 2px solid rgb(255, 255, 255);*/
}
#buttons {
    width: 850px;
    height: 50px;
    /* background-color: rgb(65, 65, 65); */
    display: flex;
}
#buttons ul {
    width: 850px;
    height: 50px;
    
}
#buttons li {
    display: inline-block;
    
}
#button_1 {
    background-color: rgb(161, 105, 187);
    width: 150px;
    height: 50px;
    margin-right: 50px;
    border: 2px solid rgb(255, 255, 255);
}
#button_2 {
    background-color: rgb(161, 105, 187);
    width: 150px;
    height: 50px;
    margin-left: 50px;
    border: 2px solid rgb(255, 255, 255);
}
#titulo_2 {
    width: 850px;
    height: 50px;
    /*background-color: rgb(65, 65, 65);*/
    margin-top: 25px;
    /*border: 2px solid rgb(255, 255, 255);*/
}
#header_2 {
    margin-top: 25px;
    width: 850px;
    height: 150px;
    /* background-color: rgb(65, 65, 65); */
    display: flex;
}
#header_2 div {
    width: 150px;
    height: 150px;
    background-color: rgb(65, 65, 65);
    border: 2px solid rgb(255, 255, 255);
    margin-left: 50px;
}
#header_3 {
    margin-top: 25px;
    width: 850px;
    height: 100px;
    /* background-color: rgb(65, 65, 65); */
    display: flex;
}
#header_3 div {
    width: 150px;
    height: 100px;
    background-color: rgb(65, 65, 65);
    border:2px solid rgb(255, 255, 255);
    margin-left: 50px;
}
#header_4 {
    margin-top: 25px;
    width: 850px;
    height: 100px;
    background-color: rgb(65, 65, 65);
    display: flex;
}
#header_4 div {
    border:2px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
#sc3_c1 {
    width: 294px;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(65, 65, 65);
    border:2px solid rgb(255, 255, 255);
    
}
#video {
    width: 294px;
    height: 222px;
    margin-top: 25px;
    background-color: rgb(65, 65, 65);
    border:2px solid rgb(255, 255, 255);
    display: flex;
}

#sc4_c1 {
    width: 294px;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(65, 65, 65);
    border:2px solid rgb(255, 255, 255);
}
#items {
    width: 294px;
    height: 222px;
    margin-top: 25px;
    background-color: rgb(65, 65, 65);
    border:2px solid rgb(255, 255, 255);
    display: flex;
}
#company {
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin:10px;
    color: rgb(48, 101, 155, 1);
}
#description {
    font-family: Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    margin:10px;
    color: rgb(48, 101, 155, 1);
}
#mini_top_header a {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin:1px;
    color: rgba(255,255,255);
    text-decoration: none;
}
#mini_sub_header a {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin:1px;
    color: rgba(255,255,255);
    text-decoration: none;
}
#sec1 a {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: rgba(255,255,255);
    text-decoration: none;
}
footer a {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: rgba(255,255,255);
    text-decoration: none;
}
#tit_1{
    font-family:  sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left:10px;
    margin-top: 3px;
    color: rgb(0, 0, 0);
}
#tit_2 {
    font-family:  sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-left:10px;
    margin-top: 3px;
    color: rgba(255,255,255);
    display: inline-block;
}
#texto_1 {
    font-family: Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    color: rgb(0, 0, 0);
}
#texto_1 p {
    margin: 10px
}
#buttons {
    font-family: Verdana, sans-serif;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
}
#buttons a {
    margin-top: 5px;
    color: rgba(255,255,255);
    text-decoration: none;
}
#header_3 {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    text-align: left;
    color: rgba(255,255,255);
}
#header_3 p {
    margin: 3px;
}
#header_4 {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    color: rgba(255,255,255);
}
#header_4 p {
    margin: 3px;
}
#items p {
    font-family: Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    color: rgba(255,255,255);
    margin: 10px;
    margin-left: 25px;
}